body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


* {
    list-style-type: none;
    text-decoration: none;
}

a {
  color: inherit;
  transition: all .1s ease-in-out;
}

a:active, a:focus {
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

textarea, select, input, button { outline: none; }

ul {
    padding-left: 10px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c4c7cf; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8c92a1; 
  }